.slides-navigation .prev, .slides-navigation .next
{
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation .prev
{
	left: 20px;
	background-image: url(../Images/Icons/PrevIcon.png);
}

.slides-navigation .next
{
	right: 20px;
	background-image: url(../Images/Icons/NextIcon.png);
}